/**********************************************************************************************/
/*************************************MEDIA QUERY: MOBILE HASTA 767px****************************/
/*********************************************************************************************/
@media screen and (min-width:320px) and (max-width:767px){
    .cajaArriba{
        width: 80%;
        padding:25px;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap:5px;
        margin-top:30px;
        /* border: 1px solid white; */
    }
    .cajaArriba .img-container{
        width: 60px;
        height: 60px;
    }
    .cajaArriba .img-container img{
        width:100%;
        height:100%;
    }
    h1{
        font-size:2.5rem;
        letter-spacing: 0.9px;
        background: linear-gradient(
          90deg,
          rgba(249, 211, 180, 1) 0%,
          rgba(249, 211, 180, 0.438) 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: fit-content;
    }
    .app{
        padding:20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 80%;
        margin: auto;
        /* border: 1px solid white; */
    }
    h5{ 
        margin: auto;
        font-size:0.8rem;
        color: #f9d3b4;
        font-family: var(--font-raleway);
    }
    .app p{
        width:100%;
        display: flex;
        flex-wrap: wrap;
        font-size:0.8rem;
        text-align:center;
        border-radius: 7px;
        margin-top: 15px;
        padding:10px;
        color:#D88769;
        background: #1f2123;
        -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
        box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
        /* border: 1px solid red; */
    }
    .search{
        width:95%;
        padding:15px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:center;
        text-align: center;
        align-items: center;
        border: 1px solid #D88769;
    }
    .search input{
        width:60%;
        margin: auto;
        margin-left:20px;
        /* border: 1px solid red; */
    }
    .text-search{
        text-align: center;
        font-size:0.8rem;
        color: white;
    }
    .lupa{
        margin-left: 20px;
        width:20px;
        height:20px;
        /* border: 1px solid yellow; */
    }
    
    /*********footer*************/
    footer{ 
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-top:150px;
        margin-bottom: 30px;
        padding:0px;
        /* border:1px solid black; */
    }
    footer ul{
        padding:10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        margin-top:0px;
        /* border: 1px solid red; */
    }
    footer li{
        display: flex;
        flex-wrap: wrap;
    }
    footer ul li a .imgFooter{
        width:20px;
        height:20px;
    }
    footer ul li a .imgFooter img{
        width:100%;
        height:100%;
    }
    footer p{
        margin: auto;
        margin-top:0px;
        display: flex;
        border-radius: 5px;
        padding:0%;
        font-size: 1rem;
        color: black;
        font-weight: 900;
        /* background: #1f2123;
        -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
        box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527; */
    }
    }


/**********************************************************************************************/
/*************************************MEDIA QUERY TABLET Y DESKTOP****************************/
/*********************************************************************************************/

@media screen and (min-width:768px) and (max-width:1500px){
.cajaArriba{
    width: 80%;
    padding:25px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap:5px;
    margin-top:30px;
    /* border: 1px solid white; */
}
.cajaArriba .img-container{
    width: 80px;
    height: 80px;
}
.cajaArriba .img-container img{
    width:100%;
    height:100%;
}
h1{
    font-size:5rem;
    letter-spacing: 0.9px;
    background: linear-gradient(
      90deg,
      rgba(249, 211, 180, 1) 0%,
      rgba(249, 211, 180, 0.438) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
}
.app{
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%;
    margin: auto;
    /* border: 1px solid white; */
}
h5{ 
    margin: auto;
    font-size:0.8rem;
    color: #f9d3b4;
    font-family: var(--font-raleway);
}
.app p{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    font-size:1.5rem;
    text-align:center;
    border-radius: 7px;
    margin-top: 15px;
    padding:10px;
    color:#D88769;
    background: #1f2123;
    -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
    box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
    /* border: 1px solid red; */
}
.search{
    width:30%;
    /* max-width: 400px; */
    padding:10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    text-align: center;
    align-items: center;
    border: 1px solid #D88769;
}
.search input{
    width:60%;
    margin: auto;
    margin-left:20%;
    /* border: 1px solid red; */
}
.text-search{
    text-align: center;
    font-size:1rem;
    color: white;
}
.lupa{
    margin: auto;
    width:20px;
    height:20px;
    /* border: 1px solid yellow; */
}

/*********footer*************/
footer{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top:160px;
    padding:5px;
    /* border:1px solid black; */
}
footer ul{
    padding:10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top:40px;
    /* border: 1px solid red; */
}
footer li{
    display: flex;
    flex-wrap: wrap;
}
footer ul li a .imgFooter{
    width:25px;
    height:25px;
    /* background: #1f2123; */
    /* -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
    box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527; */
}
footer ul li a .imgFooter img{
    width:100%;
    height:100%;
}
footer p{
    margin: auto;
    margin-top:0px;
    display: flex;
    border-radius: 5px;
    padding:1%;
    font-size: 1.2rem;
    color: black;
    font-weight: 900;
    /* background: #1f2123;
    -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
    box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527; */
}
}